layout {
    tab name="Development" focus=true {
        pane
    }

    default_tab_template {
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
              format_left   "#[bg=#1e1e2e,fg=#89b4fa,bold]  Yggdrasil #[fg=#a6adc8]{mode}#[fg=#666666]{tabs}"
              format_center ""
              format_right  "{datetime}"
              format_space  "#[bg=#1e1e2e]"

              mode_normal      "#[bg=#89b4fa,fg=#1e1e2e,bold] 󱔀 NOR "
              mode_locked      "#[bg=#45475a,fg=#cdd6f4,bold]  LCK "
              mode_tmux        "#[bg=#a6e3a1,fg=#1e1e2e,bold]  TMX "
              mode_pane        "#[bg=#f9e2af,fg=#1e1e2e,bold]  PAN "
              mode_tab         "#[bg=#f9e2af,fg=#1e1e2e,bold] 󰓩 TAB "
              mode_resize      "#[bg=#fab387,fg=#1e1e2e,bold] 󰩨 RES "
              mode_move        "#[bg=#f5c2e7,fg=#1e1e2e,bold]  MOV "
              mode_scroll      "#[bg=#cba6f7,fg=#1e1e2e,bold] 󱒓 SCL "
              mode_entersearch "#[bg=#cba6f7,fg=#1e1e2e,bold] 󱈅 ESR "
              mode_search      "#[bg=#cba6f7,fg=#1e1e2e,bold]  SRH "
              mode_session     "#[bg=#94e2d5,fg=#1e1e2e,bold]  SES "
              mode_renamepane  "#[bg=#f38ba8,fg=#1e1e2e,bold] 󰏬 RPA "
              mode_renametab   "#[bg=#f38ba8,fg=#1e1e2e,bold] 󰝜 RTA "

              tab_normal   "#[fg=#666666,bg=#1e1e2e] 󰖰 {index}:{name} "
              tab_active   "#[fg=#ffffff,bg=#1e1e2e,bold]  {index}:{name} "

              datetime        "#[bg=#1e1e2e,fg=#89b4fa,bold] {format} "
              datetime_format "%A, %d %b %Y %I:%M %p"
              datetime_timezone "America/Bogota"
            }
        }
        children
    }
}
